.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 70%;
}

.form label {
    margin-bottom: .6em;
    font-weight: bold;
}

.form input {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 250px;
    padding: .7em;
    border-radius: 0;
    border: none;
}

.form input::placeholder {
    color: #7b7b7b;
}